<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <!-- Optional JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--controller page-->
    <script src="/javascripts/data_entry_controller.js"></script>
    <!--css styling-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <title>Game Data Entry</title>
</head>
<body onload=onload()>
<h1>In-Game Data Entry Page</h1>
<img id="mapLayout" width="500" height="430"
     src="/images/map_layout_lol.jpg" style="display:none">

<div class="container">
    <div class="row">
        <div class="col-6">
            Video Player
        </div>
        <div class="col-6">
            Map Layout <br>
            <canvas id="mapCanvas" width="500" height="430"</canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <h4>Player/Champion Information:</h4>
            <h6>Player Name:</h6>
            <h6>Player Postion</h6>
            <select class="custom-select custom-select-sm" id="playerPosition">
            <option value="null">-Please Select a Postion-</option>
            <option value="Top_Lane">Top Lane</option>
            <option value="Jungler">Jungle</option>
            <option value="Mid_Lane">Mid Lane</option>
            <option value="Bot_Lane">Bot Lane </option>
            <option value="Support">Support</option>
            </select>
            <h6>Champion Being Played:</h6>
            <select class="custom-select custom-select-sm" id="cur_Champ">
            <option value="null">-Please Select a Champion-</option>
            </select>
        </div>
        <div class="col-9">
            Action Possibilities
        </div>
    </div>
</div>

</body>
</html>