<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <!-- Optional JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--controller page-->
    <script src="/javascripts/data_entry_controller.js"></script>
    <!--css styling-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <title>Game Data Entry</title>
</head>
<body>
<h1>In-Game Data Entry Page</h1>
<img id="mapLayout" width="500" height="430"
     src="/images/map11.png" style="display:none">

<div class="container">
    <div class="row">
        <div class="col-3">
            <h3 id="blueSideTeam"></h3>
            <form id="blueSideTeamForm">
                <input type="radio" id="blueChamp1"name="blueSideChamps">
                <label for="blueChamp1"></label><br>
                <input type="radio" id="blueChamp2"name="blueSideChamps">
                <label for="blueChamp2"></label><br>
                <input type="radio" id="blueChamp3"name="blueSideChamps">
                <label for="blueChamp3"></label><br>
                <input type="radio" id="blueChamp4"name="blueSideChamps">
                <label for="blueChamp4"></label><br>
                <input type="radio" id="blueChamp5"name="blueSideChamps">
                <label for="blueChamp5"></label><br>
            </form>
            <select id="typeOfGenActionsSelect" onchange="generalActionSelected()">
                <option value="-1">Please Choose An Action Type</option>
            </select>
        </div>
        <div class="col-3">
            <h3 id="redSideTeam"></h3>
            <form id="redSideTeamForm">
                <input type="radio" id="redChamp1" name="redSideChamps">
                <label for="redChamp1"></label><br>
                <input type="radio" id="redChamp2" name="redSideChamps">
                <label for="redChamp2"></label><br>
                <input type="radio" id="redChamp3" name="redSideChamps">
                <label for="redChamp3"></label><br>
                <input type="radio" id="redChamp4"name="redSideChamps">
                <label for="redChamp4"></label><br>
                <input type="radio" id="redChamp5"name="redSideChamps">
                <label for="redChamp5"></label><br>
            </form>
        </div>
        <div class="col-6">
            Map Layout <br>
            <canvas id="mapCanvas" width="512" height="512"</canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div id ="typeOfGenAction"> </div>
                <label for="actionMinuteTime">Please Put Minute</label>
                <input id="actionMinuteTime" type="number" min="0" max="99">
                <label for="actionSecondTime">Please Put Seconds</label>
                <input id="actionSecondTime" type="number" min="0" max="59">
                <input type="radio" id="solo" name="solo" value="solo">
                    <label for="solo">Done Solo</label><br>
                    <input type="radio" id="baronBuff" name="baronBuff" value="baronBuff">
                    <label for="baronBuff">Baron Buff</label><br>

                    <label for="turretType">Type of Turret:</label>
                    <select id="turretType">
                        <option value="nill">N/A</option>
                        <option value="t1">Tier 1</option>
                        <option value="t2">Tier 2</option>
                        <option value="inhib">Inhibitor</option>
                        <option value="nexus">Nexus</option>
                    </select>
        </div>
        <div id="specificActionButtons"  class="col-9">
        </div>
    </div>

</body>
</html>