<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <!-- Optional JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--controller page-->
    <script src="/javascripts/game_selector_controller.js"></script>
    <!--css styling-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>Game Selector</title>
</head>
<body>
<h1>Game Selector</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Game</th>
        <th scope="col">Draft</th>
        <th scope="col">Red Side</th>
        <th scope="col">Blue Side</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Team Names go hear 1 vs 2</th>
        <td><button class="btn btn-info" id="7825" onclick="toDraft(this.id)">Draft</button></td>
        <td><button class="btn btn-primary" id="7825" onclick="toRedSide(this.id)">Red Side</button></td>
        <td><button class="btn btn-danger"  id="7825" onclick="toBlueSide(this.id)">Blue Side</button></td>
    </tr>
    </tbody>
</table>

</body>
</html>