<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <!-- Optional JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--controller page-->
    <script src="/javascripts/toTestDRaft_controller.js"></script>
    <!--css styling-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>Practice Draft</title>
</head>

<body>
<h1>Practice Draft</h1>
<div class="container">
    <div class="row">
        <div class="col-3">
           Blue Side Picks
                <div class="row">
                    <img class="img-fluid" alt="Responsive image">
                </div>
                <div class="row">
                    b2
                </div>
                <div class="row">
                    b3
                </div>
                <div class="row">
                    b4
                </div>
                <div class="row">
                    b5
                </div>
        </div>
            <div class="col-6">
                Champs To Pick
                <canvas id="champsCanvas" width="500" height="500" style="border:1px solid #000000;"></canvas>
            </div>
            <div class="col-3">
                Red Side Picks
                <div class="row">
                    r1
                </div>
                <div class="row">
                    r2
                </div>
                <div class="row">
                    r3
                </div>
                <div class="row">
                    r4
                </div>
                <div class="row">
                    r5
                </div>            </div>
    </div>
</div>
</body>
</html>